<form method="post" action="{{ path('product_to_sell_delete', {'id': product_to_sell.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_to_sell.id) }}">
    <button class="btn">Delete</button>
</form>
